# Dependencies

node_modules/

# Logs

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data

pids
*.pid
*.seed
*.pid.lock

# Coverage

coverage/
.nyc_output/

# Build output

dist/
build/
release/
out/

# Electron Builder

*.blockmap
latest.yml

# Cache

.cache/
.parcel-cache/
.eslintcache

# Environment variables

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files

.DS_Store
Thumbs.db

# VS Code

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# JetBrains IDEs

.idea/

# Temporary files

tmp/
temp/
*.tmp

# Electron package files

*.exe
*.msi
*.deb
*.rpm
*.AppImage
*.dmg

# Generated APKs (optional)

*.apk

# ADB related temporary files

adb.log
adbkey
adbkey.pub

# Local database files

*.db
*.sqlite
*.sqlite3

# Upload folders (if generated at runtime)

uploads/
downloads/

# Build artifacts

*.tsbuildinfo

# TvAdsPlayer
TvAdsPlayer/node_modules/
TvAdsPlayer/android/.gradle/
TvAdsPlayer/android/build/
TvAdsPlayer/android/app/build/
TvAdsPlayer/android/app/.cxx/
TvAdsPlayer/android/local.properties
TvAdsPlayer/ios/build/
TvAdsPlayer/ios/Pods/
TvAdsPlayer/ios/.xcode.env.local
TvAdsPlayer/.bundle/
TvAdsPlayer/android/app/debug.keystore

NvAdPlayer/node_modules/
NvAdPlayer/android/.gradle/
NvAdPlayer/android/build/
NvAdPlayer/android/app/build/
NvAdPlayer/android/app/.cxx/
NvAdPlayer/android/local.properties
NvAdPlayer/ios/build/
NvAdPlayer/ios/Pods/
NvAdPlayer/ios/.xcode.env.local
NvAdPlayer/.bundle/
NvAdPlayer/android/app/debug.keystore

# C Projects / Intermediate compilation folder
c/

# IDE and temporary settings
*.swp
*.swo 
.vscode/
*.user 